.div1 {    
    border: 2px solid rgb(59, 31, 163);  
    }  
.div2 {    
    border-left: 2px solid rgb(59, 31, 163);
    padding-left: 10px; 
    padding-top:50px; 
    }    
.col{
    padding-top: 50px;
}

.main{
    background-color:rgb(111, 117, 133);
}

.imgbox {
    display: grid;
    height: 100%;
}
.milky {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(36, 40, 99);
    color: rgb(236, 219, 205);
  }

.writings{
    color: beige;
}

#navbar_main {
    background-color: blue;
}